@font-face {

    font-family: 'Lato';

    src: url('../fonts/Lato-Regular.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'Lato';

    src: url('../fonts/Lato-Bold.ttf') format('truetype');

    font-weight: bold;

    font-style: normal;
}


@font-face {

    font-family: "Lato - Black";

    src: url('../fonts/Lato-Black.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;
}


@font-face {

    font-family: "Lato - Black";

    src: url('../fonts/Lato-Black.ttf') format('truetype');

    font-weight: bold;

    font-style: normal;
}


.container {
    width: 1142px;
    margin: 0 auto;
}

.container_big {
    margin: 0 auto;
}

body {
    box-sizing: border-box;
}

.header {
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
}

.header_top {
    display: flex;
    height: 100%;
    align-items: center;

}


.shop_name {
    color: #222222;
    font-family: Lato;
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.68px;
    margin-left: 12px;
}

.shop_name span {
    color: #f16d7f;
    font-family: "Lato - Black";
    font-weight: 400;
    letter-spacing: 0.68px;
}

.search_box {
    display: flex;
}


.browse_button {
    display: flex;
    width: 87px;
    height: 38px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    margin-left: 37px;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    align-items: center;

}


.browse_button .text {
    /* Style for "Browse" */
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.35px;
    margin-left: 15px;
}

.browse_button .narrow {
    margin-left: 8px;
    margin-top: 1px;
    color: black;
}

.browse_button:hover .browse-button-dropdown {
    display: block;
}


.browse-button-dropdown {
    padding: 0px 25px 20px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background-color: white;
    position: relative;
    left: -30px;
    top: 355px;
    z-index: 1;
    display: none;

}

.search_form {
    display: flex;
}

.search_text {
    border: 1px solid #e6e6e6;
    height: 36px;
    width: 281px;
    color: #a4a4a4;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.35px;
    text-indent: 16px;
}

.lens a {
    left: 310px;
    color: black;
    border: 1px solid #e6e6e6;
    border-left: 0px;
    height: 38px;
    width: 38px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}



.cart_area {
    display: flex;
    position: relative;
    left: 349px;
    width: 32px;
    height: 29px;
}

.cart_area a {
    text-decoration: none;
}


.cart_area:hover .cart_menu {
    display: block;
}

.cart_quantity {
    background-image: url(../img/ellipse-2.png);
    background-repeat: no-repeat;
    text-align: center;
    height: 22px;
    width: 22px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    line-height: 23px;
    position: relative;
    left: 20px;
    top: -40px;

}

.cart_menu {
    position: absolute;
    top: 35px;
    left: -16px;
    width: 265px;
    background-color: white;
    display: none;
}

.cart_menu a {
    text-decoration: none;
}


.cart-menu__items {
    list-style-type: none;
    padding-left: 0;
    position: relative;
}

.cart-menu__items li {
    width: 232px;

}

.cart-menu__item {
    display: flex;
    border-bottom: 1px solid #ededed;
    margin-left: 20px;
    margin-top: 14px;
    margin-right: 15px;
    width: 230px;
}

.cart-menu__item_text {
    margin-left: 13px;
    margin-top: 11px;
    width: 129px;
}

.cart-menu__item img {
    margin-bottom: 13px;
    width: 75px;
    height: 88px;

}

.product-item-name {
    color: #222222;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.product-item-rate {
    color: #e4af48;
    font-size: 12px;
    font-weight: 400;
    margin-top: 12px;
}

.product-item-price {
    color: #f16d7f;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 12px;
}

.x-letter {
    font-size: 10px;
}

.cart-action {
    color: #c0c0c0;
    font-family: "Font Awesome";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 35px;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 17px;
}

.capture_total {
    color: #222222;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.cart-checkout-button {
    margin: 30px 20px;
    padding: 20px 0px;
    width: 227px;
    text-align: center;
    border: 1px solid #f16d7f;
    color: #f16d7f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.cart-go-to-cart-button {
    margin: 30px 20px;
    padding: 20px 0px;
    width: 227px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    background-image: url(../img/go-to-cart.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #4a4a4a;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.my-account-area {
    position: relative;
    left: 407px;
}

.my-account {
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.38px;
    width: 130px;
    height: 38px;
    border-radius: 3px;
    background-color: #f16d7f;
    text-align: center;
    padding-top: 0px;
}

.my-account-menu {
    position: absolute;
    top: 35px;
    left: -16px;
    width: 265px;
    background-color: white;
    /*display: none;*/
}

.nav_flex {
    justify-content: center;
    height: 60px;
    display: flex;
    height: 100%;
    align-items: center;
}

.nav_flex > li {
    list-style-type: none;
    margin: 0 10px;
    position: relative;
}

.nav_flex > li > a {
    padding: 19px 10px;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.nav_flex .link_active {
    padding-bottom: 17px;
    border-bottom: 3px solid #ef5b70;
}

.nav_flex > li > a:hover {
    padding-bottom: 17px;
    border-bottom: 3px solid #ef5b70;
}

.nav_flex > li:hover .mega-menu {
    display: block;
}


.mega-menu {
    padding: 0px 25px 20px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background-color: white;
    position: absolute;
    left: -30px;
    top: 35px;
    display: none;
}

.flex {
    display: flex;
}

.mega-menu__list {
    width: 235px;
    padding: 0;
    margin-right: 46px;

}

.mega-menu__list:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

.mega-menu__heading {
    border-bottom: 1px solid #e8e8e8;
    color: #232323;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    padding-left: 25px;
}

ul.mega-menu__items {
    list-style-type: none;
    padding-left: 25px;
    /*width: 100px;
    height: 234px;*/
    color: #646464;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.35px;
    text-align: left;
}

ul.mega-menu__items a {
    text-decoration: none;
    color: #646464;
}

ul.mega-menu__items a:hover {
    text-decoration: underline;
    color: #f16d7f;
}

.super_sale_a {
    text-decoration: none;
}

.super_sale {
    background-image: url(../img/super-sale-bgrd.png);
    width: 257px;
    height: 121px;
    margin-right: 22px;
    position: relative;
    left: -19px;
    top: 20px;

}

.super_sale_txt {
    color: #ffffff;
    font-family: "Lato - Black";
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.55px;
    position: relative;
    left: 176px;
    top: 63px;
}


.slider {
    height: 613px;
    background-color: #e8e8e8;
    margin-top: 20px;
    align-items: center;

}

.slider_flex {
    display: flex;
    height: 100%;
    align-items: center;
    background: url(../img/slider-man.jpg) 0 -51px;
    background-repeat: no-repeat;
    background-size: cover;

}

.slider_line {
    height: 92px;
    border-left: 12px solid #f16d7f;
    margin-top: 27px;
}

.slider_text {
    height: 92px;
    width: 509px;
}

.slider_text .text_top {
    color: #222222;
    font-family: "Lato - Black";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 60px;
    margin-left: 12px;
}

.slider_text .text_bottom {
    color: #222222;
    font-family: "Lato - Black";
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 12px;
}

.slider_text .text_bottom span {
    color: #f16d7f;
    letter-spacing: 1px;
}

.featured_items {
    display: flex;
    margin-top: 122px;
}

.item {
    width: 261px;
    height: 279px;
    position: relative;

}

.margin-left-32 {
    margin-left: 32px;
}

.link {
    display: block;
    text-decoration: none;
    width: 261px;
    height: 279px;

}

.link img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.link p {
    width: 157px;
    height: 11px;
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    margin: 15px 10px;
}

.link span {
    width: 50px;
    height: 15px;
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 10px;
}

.item:hover {
    box-shadow: 0 0 5px #444;
}

.item:hover img {
    filter: brightness(50%);
}

.add-to-cart {
    position: absolute;
    width: 123px;
    top: 98px;
    left: 70px;
    border: 1px solid #FFF;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: none;
    color: #ffffff;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
}

.item:hover .add-to-cart {
    display: block;
}

.section_category {
    max-width: 1142px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(3, 267px);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 98px;
}

.cblock {
    /*border: 1px solid #000;*/
    background-color: grey;
}

.block1 {
    grid-row: 1 / 3;
    background-image: url(../img/bricks_image1.jpg);
    background-size: cover;
}

.block2 {
    background-image: url(../img/bricks_image2.jpg);
    background-size: cover;
    align-items: flex-end;
}

.block3 {
    grid-row: 2 / 4;
    background-image: url(../img/bricks_image4.jpg);
    background-size: cover;
}


.block4 {
    background-image: url(../img/layer-37.png);
    /*display: table-cell;*/
}

.block4_inner_block {
    vertical-align: top;
    margin-left: 149px;
    background-image: url(../img/bricks_image3.jpg);
    background-repeat: no-repeat;
}


.section_category_label1 {}

/*Shopping Cart*/

.slider_container {
    display: flex;
    height: 148px;
    background-color: #f8f3f4;
    justify-content: space-between;
    margin: 0 auto;
}

.slider_place {
    height: 148px;
    line-height: 136px;
    color: #f16d7f;
    font-family: "Lato - Black";
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.breadcrumbs {
    font-family: Lato;
    font-size: 14px;
    text-transform: uppercase;
}

.breadcrumbs a {
    height: 148px;
    line-height: 148px;
    font-weight: 700;
    color: #636363;
    font-weight: 300;
    text-decoration: none;
}


.breadcrumbs span {
    font-weight: 700;
    color: #f16d7f;
}

.cart_table {
    width: 1137px;
    margin-top: 90px;

}

.table_header {
    height: 32px;
    vertical-align: top;
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
}

.table_header_product {
    width: 40%;
    text-align: left;
}

.tData_product {
    margin: 0 auto;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
    height: 162px;
    color: #656565;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.tData_product_container {
    margin: 0 left;
    display: flex;
}

.tData_product_textblock {
    margin-left: 21px;
}

.tData_product_name {
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.tData_product_details {
    margin-top: 38px;
    color: #6f6e6e;
    font-family: Lato;
    font-size: 13px;
    color: #575757;
    font-weight: bold;
    text-transform: none;
}

.tData_product_details span {
    font-weight: 300;
    margin-left: 6px;
}


.tData {
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    height: 162px;
    color: #656565;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.tData_Action {
    width: 15px;
    color: #c0c0c0;
    font-family: "Font Awesome";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
}

.item_quantity_input {
    /* Style for "Rectangle" */
    width: 54px;
    height: 30px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    text-align: center;
}

.cart_btns {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;

}

.cart_button {
    width: 235px;
    height: 50px;
    line-height: 57px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.cart_button a {
    color: #4a4a4a;
    text-decoration: none;
}

.cart_checkout {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
    color: #222222;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.cart_shipping_address {
    width: 355px;
    display: block;
    text-align: left;
    margin-right: 36px;
}

.class_checkout_form {
    line-height: 4;
}

.form_element {
    width: 100%;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #b1b1b1;
    font-family: Lato;
    font-size: 13px;
    font-weight: 300;
}

.class_checkout_form label {
    color: #000000;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    text-transform: none;
}

.class_checkout_form button {
    width: 100px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: Lato;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.cart_coupon_discount {
    width: 355px;
}

.cart_total {
    width: 360px;
    height: 214px;
    background-color: #f5f3f3;
    margin-left: 36px;
}

#cart_subtotal {
    margin: 0 auto;
    margin-top: 40px;
    width: 273px;
    height: 26px;
    line-height: 26px;
    text-align: right;
    color: #4a4a4a;
    font-family: Lato;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
}

#cart_subtotal span {
    margin-left: 20px;
}



#cart_total {
    margin: 0 auto;
    width: 273px;
    height: 38px;
    line-height: 38px;
    text-align: right;
    color: #222222;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

#cart_total span {
    color: #f16d7f;
    margin-left: 20px;
}


#cart_checkout {
    width: 273px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 17px;
}

.subscribe_block {
    height: 438px;
    background-image: url(/img/subscribe_back.png);
    background-repeat: round;
}

.subscribe_slider {
    justify-content: space-between;
    display: flex;
}

.subscribe_article {
    width: 570px;
    display: flex;
}

.subscribe_comment {
    width: 386px;
    display: block;
}

.subscribe_img_block {
    margin-top: 111px;
}

.subscribe_img_block img {
    width: 83px;
    height: 83px;
}

.subscribe_comment {
    margin-top: 123px;
    margin-left: 28px;
}

.subscribe_author {
    /* Style for "Bin Burhan" */
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 26px;
}

.subscribe_author span {
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 14px;
}


.subscribe_text {
    color: #222224;
    font-family: Lato;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    letter-spacing: 0.4px;
}

.subscribe_subdiv {
    margin: 0 auto;
    margin-top: 138px;
}

.subscribe_capture {
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    /* Text style for "Subscribe" */
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 54px;
    text-transform: uppercase;
    text-align: center;
}


.subscribe_capture2 {
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.35px;
    line-height: 24px;
    font-weight: 100;
    text-align: center;
}

.subscribe_form input {
    margin: 0;
    margin-top: 35px;
    width: 334px;
    height: 46px;
    border: 0;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    opacity: 0.67;
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 39px;
    padding-left: 28px;
}

.subscribe_form button {
    margin: -4px;
    width: 104px;
    height: 48px;
    border: 0;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 39px;
}

.footer_top {
    display: flex;
    align-items: center;

}

.footer {
    margin: 0 auto;
    width: 1150px;
    margin-top: 109px;
    display: flex;
    justify-content: space-between
}


.section_terms {
    display: flex;

}

.about_brand {
    display: block;
    width: 428px;
}

.shop_text {
    width: 428px;
    height: 188px;
    overflow: hidden;
    color: #898989;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}

.footer_list {
    list-style-type: none;
    width: 228px;


}

.footer_list_top {
    width: 100%;
    color: #f16d7f;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    line-height: 18px;
    margin-bottom: 10px;
}


.footer_list li a {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    /* Text style for "Home" */
    letter-spacing: 0.4px;
    line-height: 42px;
    color: #898989;
    text-decoration: none;
}

.copyright {
    margin-top: 89px;
    height: 79px;
    background-color: #e6e6e6;
}

.copyright_text {
    color: #7a7a7a;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 79px;
    letter-spacing: 0.4px;
    justify-content: space-between;
}

.social_nets {
    display: flex;
    line-height: 35px;
    margin-top: 24px;
    justify-content: space-between;
    width: 152px;
}

.social_nets_block {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    text-align: center;
    font-family: "Font Awesome";
}

.facebook {
    color: #b2b2b2;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.twitter{
    background-color: #f16d7f;
    color: #f7f7f8;
}

.instagram{
    background-color: #ededed;
    color: #dbdbdb;
}

.google_plus{
    background-color: #ffffff;
    color: #b2b2b2;
}